/* paleta de colores para mi pagina
#1D5B79
#468B97
#EF6262
#F3AA60
rgb(29, 91, 121)armada
RGB(70, 139, 151)verde azulado
rgb(239, 98, 98)rojo
RGB(243, 170, 96)naranja

*/
body {
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(7, 9, 7);
    background-color: RGB(243, 170, 96);

}/*sirve para comentar en css*/
.container-fluid{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
h1{
    color:rgb(29, 91, 121);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color: rgb(6, 16, 7); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(29, 91, 121);
    font-size: 20px;
}
p{
    color: black;
    background-color: RGB(70, 139, 151);
}
a {
    color:rgba(7, 4, 4, 0.925); 
}
.cursiva {
    font-weight: 500;
    font-style: italic;
    color: rgb(29, 91, 121);
}
/*id="p01" identifica un unico elemento para aplicarle estilo, se aplica en css usando # */
/*id se usa en titulos importantes,algunos botones, elementos particulares*/
#p01 {
    color:RGB(70, 139, 151);

}
/*el punto . se usa para identificar el class*/
/* h1.cursiva limita la cursiva solo si se usa en un h1, span, p, h3, section etc*/
h1.cursiva {
    font-stretch: narrower;
}
.arriba {
    color: rgb(33, 243, 33);
    
}
.fondo{
    background-color: RGB(70, 139, 151);
}
#arriba {
    font-weight: bold;

}
#somos {
    color: rgb(29, 91, 121);
    background-color:rgb(29, 91, 121);

}/*con a:hover hacemos que cambie de color la letra cuando el puntero este encima en este caso a la etiqueta a*/
a:hover{
    color:rgb(8, 199, 40); 
    background-color: blueviolet;
}
span:hover {
    color: darkmagenta;
    background-color: #333;

}
p.par2 {
    background-color: blanchedalmond;

}
p.par1:hover {
    color:yellow;
    background-color: grey;

}
.trabajos{
    background-color: rgb(166, 14, 14);

}
label{
    color:rgb(239, 98, 98);
    font-weight: 300;

}/*border define el estilo del borde y el color*/
input{
    border:dotted 3px rgb(29, 91, 121);
    margin: 3px;
}
article{
    align-content: center;
}